bs4==0.0.2
langchain==0.3.23
langchain-core==0.3.80
langchain-chroma==0.2.3
langchain-community==0.3.21
langchain-openai==0.3.14
langchain-qdrant==0.2.0
langgraph==0.3.31
openai==1.75.0
pypdf==5.4.0
pysqlite3==0.5.4
python-telegram-bot==22.0